<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageResizeApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageResizeApp.Properties.Settings>
            <setting name="WorkFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TempFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FailureFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DuplicatesFolderPath" serializeAs="String">
                <value />
            </setting>
        </ImageResizeApp.Properties.Settings>
    </userSettings>
</configuration>